mutagen~=1.44.0
youtube-dl==2021.3.14
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
idna==2.9
lxml==4.9.1
requests==2.23.0
soupsieve==2.0
termcolor==1.1.0
urllib3
python-vlc==3.0.7110
selenium
eyeD3~=0.9.5
pydub~=0.24.1
pafy~=0.5.5
google-api-python-client~=2.0.2